<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sindre Sorhus &amp; Mathieu Dutour</string>
	<key>Builder Version</key>
	<string>12604.1.23.0.2</string>
	<key>CFBundleDisplayName</key>
	<string>Refined Github</string>
	<key>CFBundleIdentifier</key>
	<string>me.dutour.mathieu.refined-github</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.19</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>10485760</integer>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>content.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>content.css</string>
			<string>custom.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Simplifies the GitHub interface and adds useful features</string>
	<key>DeveloperIdentifier</key>
	<string>8SEPFSC7S3</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/mathieudutour/refined-github-safari</string>
</dict>
</plist>
